body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#userDetailsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}